@using Microsoft.AspNet.Identity
@using System.Security.Claims
@if (Request.IsAuthenticated)
{
    //Claims
    var identity = (ClaimsIdentity)User.Identity;
    var name = identity.FindFirstValue(ClaimTypes.GivenName) ?? identity.GetUserName();
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#">
                <img src="@Url.Action("UserPhotos", "Home" )" height="30" width="30" style="border-radius:50%;" />
            <span>@name </span> <i class="bi bi-chevron-down"></i></a>

            <ul>
                <li>@Html.ActionLink("My Account", "UserProfile", "Account")</li>
                <li>@Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()

                    <li style="text-decoration:none;display:flex;align-items:center;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

                }
            </ul>
        </li>
 </ul>

}
else
{
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
</ul>
}   
<style>
    #k:hover{
        color:#ff0000;
    }
</style>
<script>


</script>